$title-color: #ececec;
$subtitle-color: #FFDE88;
$text-color: #a6d6ec;
$error-bg-color: rgba(255, 0, 0, 0.1); 
$error-text-color: #ff5733;
$button-color: #FFDE88;
$button-hover-color: #e4c647;
$incomplete-bg-color: rgba(255, 0, 0, 0.1);
$incomplete-color: #ff5733;