.navbar-brand {
  color: $subtitle-color;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.1);
    color: lighten($subtitle-color, 10%);
  }

  .navbar-brand--img {
    width: 100%;
    max-width: 150px;
    height: auto;
    transition: transform 0.5s ease;

    &:hover {
      animation: rotateImage 2s linear infinite;
    }
  }
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: $text-color; 
  font-weight: 500;
  padding: 0.5rem 1rem; 
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    color: lighten($text-color, 20%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px; 
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: $subtitle-color;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%; 
  }
}

.navbar-toggler {
  border: none; 
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 5px;

  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%2833, 37, 41, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }
}