.masonry {
  column-gap: 16px;
  column-count: 3;
  &__item {
    break-inside: avoid; 
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.03);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

      .masonry__overlay {
        opacity: 1; 
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    border-radius: 8px;
  }
}


@media (max-width: 768px) {
  .masonry {
    column-count: 1; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .masonry {
    column-count: 2; 
  }
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}